In [1]:
import torch.nn as nn
import numpy as np
import pandas as pd
from datetime import datetime
from glob import glob

In [4]:
from unicorn_binance_websocket_api.unicorn_binance_websocket_api_manager import BinanceWebSocketApiManager

binance_websocket_api_manager = BinanceWebSocketApiManager(exchange="binance.com")
#binance_websocket_api_manager.create_stream(['trade', 'kline_1m'], ['btcusdt', 'bnbbtc', 'ethbtc'])
binance_websocket_api_manager.create_stream(['trade', 'kline_1m'], ['nanobtc'])

Release unicorn-binance-websocket-api_1.15.0 is available, please consider updating! (Changelog: https://github.com/oliver-zehentleitner/unicorn-binance-websocket-api/blob/master/CHANGELOG.md)

WARNING:root:Release unicorn-binance-websocket-api_1.15.0 is available, please consider updating! (Changelog: https://github.com/oliver-zehentleitner/unicorn-binance-websocket-api/blob/master/CHANGELOG.md)

UUID('6a0d880d-8cd7-4cd3-9927-c1bfc0b42ec4')

CRITICAL:root:BinanceWebSocketApiSocket->start_socket(8972727a-d828-452c-a38d-e623e481860f, ['trade', 'kline_1m'], ['neblbtc']) Exception ConnectionClosed Info: code = 1006 (connection closed abnormally [internal]), no reason
CRITICAL:root:BinanceWebSocketApiManager->stream_is_crashing(8972727a-d828-452c-a38d-e623e481860f)

In [ ]:
type(oldest_stream_data_from_stream_buffer)

## 30-100 trades on parameter

In [2]:
def highlight_max(s):
    '''
    highlight the maximum in a Series yellow.
    '''
    is_max = s == s.max()
    return ['background-color: #51719C' if v else '' for v in is_max]

In [14]:
df = pd.read_csv('dd_USDT.csv')
#df = pd.read_csv('dd_USDT.csv')


df['min_trades'] = df['trades'] - df['params'].apply(lambda x: len(x.split(','))) * 30
df['pdd'] = -df['profit']/df['dd'] 
#df['opt_trades'] = df['trades'] - df['params'].apply(lambda x: len(x.split(','))) * 100

df = df[df['min_trades'] > 0]
df = df[df['profit'] > 0]
df = df[df['pdd'] > 2]

df['c1'] = -df['profit']/df['dd'] * np.log(df['trades'])
#df = df[df['asset'] == 'LTC-USDT']

In [15]:
df

Empty DataFrame
Columns: [asset, tf, robot, params, profit, dd, trades, min_trades, pdd, c1]
Index: []

In [11]:
pvt = pd.pivot_table(df, values=['c1'], index=['robot'],  columns=['tf'])
pvt.style.apply(highlight_max)

In [12]:
pvt = pd.pivot_table(df, values=['profit'], index=['robot'],  columns=['tf'])
pvt.style.apply(highlight_max)

In [13]:
pd.pivot_table(df, values=['dd'], index=['robot'],  columns=['tf'])

                                   dd
tf                                15m        5m
robot
kestner-ma                        NaN -0.000002
ma-2-crossover          -1.439044e-06 -0.000002
ma-2-crossover-ichimoku -2.206098e-06 -0.000002
rsi                     -9.226891e-07 -0.000002

In [ ]:
pvt = pd.pivot_table(df, values=['trades'], index=['robot'],  columns=['tf'])
pvt.style.apply(highlight_max)

In [ ]:
df.sort_values('tf')

In [ ]:
df = df[df['robot'] == 'ma-rsi']
pd.pivot_table(df, values=['profit'], index=['tf'],  columns=['asset'])

In [ ]:
pd.pivot_table(df, values=['trades'], index=['tf'],  columns=['asset'])

In [ ]:
df['c1'] = df['profit'] * np.sqrt(df['trades'])
pd.pivot_table(df, values=['dd'], index=['tf'],  columns=['robot'])

In [ ]:
data_path = 'G:\Code\Projects\QuantMod\Logs\Logs'
files = glob(data_path + '/*')

In [ ]:
import os
fn_full = files[12]
fn = os.path.basename(fn_full)
print(fn)
pd.read_csv(fn_full)

In [2]:
import numpy as np
X = np.random.rand(3,3)

In [12]:
W1 = 2 *np.random.random((3,3)) - 1
W2 = 2 *np.random.random((3,1)) - 1
b1 = 0.1
b2 = 0.1 
z1 = X@W1 + b1
z2 = z1@W2 + b2

In [13]:
z1

array([[-0.10681998, -0.25498285, -0.01188085],
       [ 0.11184781,  0.10890602, -0.21377916],
       [ 0.24222738, -0.15552755, -0.22852381]])