In [9]:
import numpy as np
import pandas as pd
import sys
sys.path.append("../tp")

In [11]:
from data_provider import read_prices, read_data

In [17]:
import seaborn
import statsmodels
import statsmodels.api as sm
from statsmodels.tsa.stattools import coint

In [49]:
pair = 'BTC'
assets = ['ADA', 'BNB']
df_1 = read_data('ADA-BTC', '1h')
df_2 = read_data('BNB-BTC', '1h')
dfs = []
for asset in assets:
    df = read_data(asset + '-' +pair, '1h')
    df = df[['T', 'C']]
    df.index = df['T']
    df = df.drop('T', axis = 1)
    df.columns = [asset]
    dfs.append(df)

pd.concat(dfs, axis = 1)

                      ADA         BNB
T
1500004800000         NaN  0.00004955
1500008400000         NaN  0.00004429
1500012000000         NaN  0.00004800
1500015600000         NaN  0.00004780
1500019200000         NaN  0.00004410
...                   ...         ...
1616403600000  0.00002070  0.00465490
1616407200000  0.00002061  0.00459880
1616410800000  0.00002063  0.00462450
1616414400000  0.00002067  0.00463960
1616418000000  0.00002064  0.00464400

[32266 rows x 2 columns]

In [ ]:
dfs = [pd.read_csv(file, parse_dates = ["date"], index_col = "date") for file in files]

# concatenate the dataframes into one temporary dataframe
df_master = pd.concat(dfs)
df_master = df_master.drop('time', axis = 1)